* {
  margin: 0px;
  padding: 0px;
}
:root {
  --spaceing: 10px;
  --base: red;
  --blur: 10px;
}
.heading {
  font-size: 50px;
  color: var(--base);
  text-align: center;
}
.button {
  margin-top: 50px;

  text-align: center;
  justify-content: space-between;
}
.img {
  margin-top: 50px;
  text-align: center;
}
img {
  width: 50%;
  height: 25%;
  background: var(--base);
  padding: var(--spaceing);
  filter: blur(var(--blur));
}
